/* ----- GENERAL ----- */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: radial-gradient(circle, chocolate, rgb(133, 70, 25));
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 5px rgb(7, 6, 6);
    z-index: 1;
}
header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 { color: chocolate !important; }
h2 {
    margin: 1.5rem auto !important;
    font-style: italic !important;
    font-size: 2.5rem !important;
    font-family: 'Dancing Script', cursive !important;
}
h3 {
    font-size: 1.5rem !important;
    text-decoration: underline !important;
}

section {
    padding: 1%;
}
section.anchoAjustable {
    width: calc(100% - 2%);
    max-width: 1000px;
    margin: auto; 
    text-align: center;
}

footer {
    padding: 2rem 0;
    text-align: center;
    background-color: chocolate;
    box-shadow: 1px 1px 10px #999;
    color: white;
    display: flex;
    flex-direction: row;
}
footer span {
    flex: 1;
}

#top-banner-header {
    background-color: #212121be;
    color: white;
    font-size: 0.75em;
    font-weight: bold;
    text-align: left;
    padding: 5px calc(50% - 500px);
    width: 100%;
    max-width: 1000px;
    margin: auto; 
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
}
#top-banner-header label.ancho-completo {
    flex: 1;
}
#top-banner-header label { margin: 0; }

.lista-navegacion {
    display: inline-block;
    background-color: #00000030;
    width: 100%;
    padding: 0.5rem 0;
}
.lista-navegacion ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.lista-navegacion ul li {
    display: inline-block;
    padding: 0 1.5rem;
    vertical-align: middle;
    position: relative;
}
.lista-navegacion ul ul {
    z-index: 1;
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: chocolate;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
.lista-navegacion ul ul li {
    display: block;
    padding: 0.5rem;
    width: 150px;
}
.lista-navegacion ul li:hover ul {
    display: flex;
}

.logo {
    padding: 1rem;
    width: 200px;
    display: inline-block;
}
.logo img {
    width: 100px;
    object-fit: contain;
    max-height: 50px;
}

.seccion-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 90%;
}
.seccion-productos h3 {
    flex-basis: 100%;
}
.seccion-productos article {
    flex-basis: 23%;
    margin: 0 1%;
}
.seccion-productos article img {
    width: 90%;
    object-fit: cover;
}
.seccion-productos h3 { text-align: left; }
.seccion-productos article:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px lightblue;
    border-radius: 0.5rem;
}

/* ----- PAGINA PRODUCTOS ----- */
#productos-nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: chocolate;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #999;
    margin: 0;
    padding: 1rem;
    width: calc(100% - 2rem);
}
#productos-nav ul li {
    display: inline;
    padding: 0 2rem;
}
#productos-nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#productos-contenido {
    display: flex;
    flex-direction: column;
}
#productos-contenido section h3 {
    display: flex;
    flex-basis: 100%;
}
#productos-contenido section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#productos-contenido section article {
    flex: 1;
}

/* ----- PAGINA INICIAL ----- */
#home-grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto minmax(100%, 1000px) auto;
    grid-template-rows: 50vh repeat(4, auto);
    grid-template-areas: 
        "banner banner banner"
        ". productos ."
        ". servicios ."
        ". punto-venta .";
}
#banner-principal { grid-area: banner; }
#seccion-productos { grid-area: productos; }
#seccion-servicios { grid-area: servicios; }
#seccion-servicios img { width: 100%; }
#seccion-punto-venta { grid-area: punto-venta; }
#seccion-punto-venta img { width: 100%; }

#banner-principal {
    height: 100%;
    background-image: url("https://www.casafe.org/wp-content/uploads/2017/09/foto-medialunas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: left;
    animation-duration: 1s;
    animation-name: disfuminado;
    animation-timing-function: ease-in;
}

@keyframes disfuminado {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* ----- PAGINA CONTACTO ----- */
#formularioContacto {
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid #999;
    background-color: white;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}
#formularioContacto div {
    padding: 1%;
}
#formularioContacto .boton-principal {
    background-color: chocolate;
    border: chocolate;
}

.mapa {
    height: 30vh;
    width: 100%;
    border-radius: 5px;
}


@media (max-width: 800px) {
    .seccion-productos article {
        flex-basis: 40%;
        margin: 5%;
    }
    #productos-nav {
        display: none;
    }
}

@media (max-width: 600px) {
    #top-banner-header { display: none; }
    header .lista-navegacion ul {
        flex-direction: column;
        align-items: center;
    }
    header .lista-navegacion ul li {
        width: 90%;
        padding: 0.5rem;
        margin: 0.5rem 0;
        border-radius: 5px;
        box-shadow: 1px 1px 5px black;
    }
    header .lista-navegacion ul ul {
        width: 90%;
        justify-content: center;
    }
    .seccion-productos article {
        flex-basis: 98%;
    }
}