footer {
    padding: 2rem 0;
    text-align: center;
    background-image: radial-gradient(circle, chocolate, rgb(133, 70, 25));
    box-shadow: 1px 1px 5px rgb(7, 6, 6);
    box-shadow: 1px 1px 10px #999;
    color: white;
    display: flex;
    flex-direction: row;

    span {
        flex: 1;
    }
}