footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    text-align: center;
    background-image: radial-gradient(circle, chocolate, rgb(133, 70, 25));
    box-shadow: 1px 1px 10px #999;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}