#productos-nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: chocolate;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #999;
    margin: 0;
    padding: 1rem;
    width: calc(100% - 2rem);

    li {
        display: inline;
        padding: 0 2rem;

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
    }
}

$iconos: (
    panaderia: '../images/iconos/pan.svg',
    facturas: '../images/iconos/factura.svg',
    masitas: '../images/iconos/cookie.svg',
    salados: '../images/iconos/comida.svg',
    postres: '../images/iconos/postre.svg',
);

@each $idSeccion, $icono in $iconos {
    #pagina__productos ##{$idSeccion} h3 .icon {
        background-image: url($icono);
        background-size: contain;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0 1%;
    }
}

@media (max-width: $max-pantalla-mediana) {
    #productos-nav { display: none }
}
