body { font-family: 'Open Sans', sans-serif }
h1, h2, h3, h4, h5, h6 { color: chocolate !important; }
h2 {
    margin: 1.5rem auto !important;
    font-style: italic !important;
    font-size: 2.5rem !important;
    font-family: 'Dancing Script', cursive !important;
}
h3 {
    font-size: 1.5rem !important;
    text-decoration: underline !important;
}